/* Fonts */
@import url('https://fonts.cdnfonts.com/css/literal?styles=44309,44308,44307');
@font-face {
    font-family: 'Karton';
    src: url('../fonts/Karton\ Regular.otf');
}
@font-face {
    font-family: 'Literal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Bold'), url('../fonts/LiteralBold\ .woff') format('woff');
}
@font-face {
    font-family: 'Literal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Regular'), url('../fonts/LiteralRegular.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    font-family: "Literal Regular";
    background: #6AAE55;
    border-radius: 10px;
    padding: 13px 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.active {
    color: #5B4A58 !important;
    text-decoration: underline !important;
}

/* navbar */
.contact-nav{
    background-color: #5B4A58;
    color: #fff;
}

.contact-nav__items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.contact-nav__item{
    font-size: 16px;
}
.contact-nav__item p{
    display: inline-block;
    align-items: center;
    margin-left: 0.5rem;
}
.contact-nav__item i{
    font-size: 20px;
}

.green-text{
    color: #6AAE55;
}

.whatsapp{
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.logo-nav{
    transform: scale(1.2);
}
nav {
    margin-top: 1rem;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5B4A58;
    width: 100%;
    list-style: none;
    font-family: 'Literal';
}
.nav-item{
    text-transform: uppercase;
}
.nav-item i {
    margin-right: 8px;
}
.hamb-menu{
    display: none;
}


/* footer section */
.footer-navbar{
    background-color: #746471;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 33px 0;
    list-style: none;
}

.footer-nav__item {
    text-decoration: none;
    font-family: "Literal Regular";
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

footer {
    padding-top: 28px;
    background-color: #5B4A58;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer ul {
    list-style: none;
}

footer ul h3 {
    font-family: 'Literal Regular';
    font-size: 18px;
    line-height: 24px;
    color: #6AAE55;
    margin-bottom: 17px;
}

footer ul li {
    font-family: "Literal Regular";
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 15px;
}

footer ul li span span {
    margin-left: 28px;
}
footer ul li i {
    margin-right: 10px;
}

.faq div {
    display: inline-block;
}

.faq label {
    color: #fff;
    display: block;
}
.faq input{
    font-size: 16px;
    width: 100%;
}
.faq textarea {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.faq a {
    margin-top: 10px;
    float: right;
    text-transform: capitalize;
}

footer p {
    font-family: 'Literal';
    font-size: 16px;
    line-height: 100%;
    color: #A69BA4;
    text-align: center;
    padding: 20px 0;
}




/* RESPONSIVE PART */
@media only screen and (max-width: 1200px) {
    .container{
        padding: 0 3%;
    }
}

@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 957px){
    
}

@media only screen and (max-width: 860px){
    .nav-items :nth-child(2),.nav-items :nth-child(3),.nav-items :nth-child(4),
    .nav-items :nth-child(6),.nav-items :nth-child(7){
        display: none;
    }
    .nav-items :nth-child(1){
        display: inline-block;
    }
    .hamb-menu {
        display: inline-block;
    }
    .footer-nav {
        display: block;
        text-align: center;
    }
    .footer-nav li {
        margin-bottom: 14px;
    }
    .footer-items {
        display: block;
    }
    .faq div {
        display: block;
        width: 50%;
    }
    .faq textarea {
        width: 50%;
        margin-bottom: 20px;
    }
    .faq a {
        float: none;
    }
} 
@media only screen and (max-width: 767px) {
    .faq div {
        width: 60%;
    }
    .faq textarea {
        width: 60%;
    }

}

@media only screen and (max-width: 635px){
    

}

@media only screen and (max-width: 567px) {
    /* Mobile */
    
}
@media only screen and (max-width: 532px) {
    .faq div {
        width: 80%;
    }
    .faq textarea {
        width: 80%;
    }
}
@media only screen and (max-width: 450px) {
    .faq div {
        width: 90%;
    }
    .faq textarea {
        width: 90%;
    }
}
@media only screen and (max-width: 330px){
    .faq div {
        width: 100%;
    }
    .faq textarea {
        width: 100%;
    }
}